/*css resets*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
    font-family: 'Merriweather', serif;
}


/*general styling*/

header {
    width: 100%;
    margin: 0 auto;
    background-color: #ffa700;
    text-align: center;
    /*padding: 10px;*/
}

header form.search {
    background-color: #47B5AD;
}

header form.search .city-name {
    padding-left: 0.5rem;
}

.user-input form.search .city-name,
.activity-radius,
.activity-distance,
.search-button,
.reset {
    border-radius: 5px;
    /*        increased height to improve display on larger screens*/
    height: 40px;
    line-height: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center center;
}

.user-input form.search .search-button,
.reset {
    background-color: #FFC963;
    padding-left: 10px;
    padding-right: 10px;
}

.user-input form.search .city-name {
    width: 300px;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
}

body {
    text-align: left;
    margin: 0 auto;
    background-color: #202020;
}

h1,
h2 {
    text-align: center;
    color: #005F58;
}

h3 {
    font-size: 1.25rem;
    color: #005F58;
}
ul {
    list-style: none;
}

.wrapper {
    width: 100%;
    font: 0px;
}

section.display-results {
    background-color: white;
    background-image: url(runnerImg.png);
    background-repeat: no-repeat;
    background-position: center center fixed;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 3px solid #005F58;
    padding: 1rem;
    color: #9B6500;
}

.display-results .activity-results .event-description {
    border: 2px #FFBB39 solid;
    background-color: #FFC963;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.display-results .activity-results .events{
    position: relative;
    margin: 10px 1%;
    width: 40%;
    display: inline-block;
}

.display-results .activity-results .events .favorites {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
}
.display-results .activity-results .events .favorites .add-favorite-icon {
    width: 100%;
}

.display-results a {
    color: #005F58;
}

.dashboard {
    /*display: block;*/
    background-color: #47B5AD;
    width: 100%;
    margin: 0;
    border: 3px solid #005F58;
    padding: 1rem 1.5rem;
    color: #005F58;
    text-align: center;
}

.dashboard .favoritesContainer .favorites {
    display: inline-block;
    border: 2px #FFBB39 solid;
    background-color: #FFC963;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.dashboard .favoritesContainer .favorites .deleteFavorite .deleteFavorite .deleteFavorite{
      position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    
}



button.registration-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
}
button.addFavorite{
    display: inline-block;
    border: 2px #FFBB39 solid;
    background-color: #FFC963;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    
}
button.deleteFavorite{
    display: inline-block;
    border: 2px #FFBB39 solid;
    background-color: #FFC963;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    
}
footer {
    width: 100%;
    margin: 0 auto;
    background-color: #ffa700;
    text-align: center;
    color: #005F58;
    padding: 1em;
}

@media only screen and (max-width: 800px) {
    section.display-results ul li {
        width: 60%;
        margin: 0.5rem auto;
        display: block;
    }
    section.user-input input,
    section.user-input select {
        width: 60% !important;
        margin: 1rem auto;
        display: block;
    }
}
